<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="startup"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.sessionfive.app.SessionFiveApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.sessionfive.app.startup"
            name="SessionFire">
         <property
               name="appName"
               value="SessionFire">
         </property>
      </product>
   </extension>

</plugin>
