<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="shapes" name="shapes" schema="schema/shapes.exsd"/>
   <extension-point id="panel" name="panel" schema="schema/panel.exsd"/>
   <extension-point id="keylistener" name="keylistener" schema="schema/keylistener.exsd"/>
   <extension
         id="startup"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.sessionfive.app.SessionFiveApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.sessionfive.app.startup"
            name="SessionFire">
         <property
               name="appName"
               value="SessionFire">
         </property>
      </product>
   </extension>
   <extension
         point="com.sessionfive.app.shapes">
      <shape
            factoryclass="com.sessionfive.shapes.ImageShapeFactory">
      </shape>
   </extension>

</plugin>
