<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>Online Presentation</title>
    <meta name="description" content="Online Presentation" />
    
    <link rel="stylesheet" href="/styles/default.css" media="screen" />     
    <link rel="stylesheet" href="/styles/presentation.css" media="screen" />     

    <script src="/js/jquery.js"></script>
    <script src="/js/socket.io/socket.io.js"></script>
    <script src="/js/live.js"></script>
    <script src="/js/presentation.js"></script>
</head>     

    <body>
        <%- body %>
    </body>

</html>
